---
interface Props {}

const {} = Astro.props;
---

<div class="flex flex-col justify-center items-center">
  <img
    src="/logo.webp"
    alt="genuino band logo"
    class="w-[300px] sm:w-[500px] pt-36 md:pt-14 mx-auto"
  />
  <p
    class="text-white text-base uppercase font-bold underline hover:text-sky-500 hover:cursor-pointer"
  >
    Algo bueno viene
  </p>
</div>
