---
interface Props {}

const {} = Astro.props;
---

<div class="h-full w-full flex flex-col justify-center items-center">
  <img
    src="/logo.webp"
    alt="genuino band logo"
    class="w-[300px] sm:w-[500px] mx-auto"
  />
  <h2
    class="text-white uppercase font-bold underline hover:text-sky-500 hover:cursor-pointer"
  >
    Algo bueno viene
  </h2>
</div>
