---

---

<footer class="absolute text-center bottom-2 left-0 right-0">
  <p class="text-white/60">
    @ copyright 2024 <a
      href="http://dacoapp.com"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline hover:text-cyan-400">dacoapp</a
    >
  </p>
</footer>
